<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT Subpage ANY>
<!ATTLIST Subpage id ID #REQUIRED>
<!ELEMENT Somenode ANY>
<!ATTLIST Somenode id ID #REQUIRED>
<!ELEMENT Content ANY>
<!ATTLIST Content id ID #REQUIRED>
<!ELEMENT Home ANY>
<!ATTLIST Home id ID #REQUIRED>
 

]>
<root id="-1">
  <Home id="1052" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2015-05-19T21:04:48" updateDate="2015-05-29T20:32:50" nodeName="Home" urlName="home" path="-1,1052" isDoc="" nodeType="1051" creatorName="Test User" writerName="Test User" writerID="0" template="1050" nodeTypeAlias="Home">
    <text><![CDATA[Test]]></text>
    <image>1059</image>
    <content>1058</content>
    <number><![CDATA[1234]]></number>
    <Subpage id="1062" parentID="1052" level="2" creatorID="0" sortOrder="0" createDate="2015-05-29T20:36:37" updateDate="2015-05-29T20:36:37" nodeName="subpage1" urlName="subpage1" path="-1,1052,1062" isDoc="" nodeType="1061" creatorName="Test User" writerName="Test User" writerID="0" template="1060" nodeTypeAlias="Subpage">
      <issubpage>1</issubpage>
    </Subpage>
  </Home>
  <Content id="1057" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2015-05-29T20:22:35" updateDate="2015-05-29T20:22:35" nodeName="Content" urlName="content" path="-1,1057" isDoc="" nodeType="1054" creatorName="Test User" writerName="Test User" writerID="0" template="1053" nodeTypeAlias="Content">
    <Somenode id="1058" parentID="1057" level="2" creatorID="0" sortOrder="0" createDate="2015-05-29T20:23:30" updateDate="2015-05-29T20:23:30" nodeName="Node" urlName="node" path="-1,1057,1058" isDoc="" nodeType="1056" creatorName="Test User" writerName="Test User" writerID="0" template="1055" nodeTypeAlias="Somenode">
      <text><![CDATA[TESTING]]></text>
    </Somenode>
  </Content>
</root>